<div class="about-page">
  <h4>ABOUT</h4>
  <div class="subheading">Lorem</div>
  <section class="about-us">
    <h2 class="heading">About Us</h2>
    <h1 class="subheading">
      IECEP Taguig Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
      temporibus aperiam atque exercitationem rem necessitatibus sequi impedit!
      Quam illo eligendi debitis corporis, rem non error accusamus placeat
      sapiente recusandae inventore.
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt,
      voluptates, officiis laudantium perferendis quibusdam velit mollitia hic
      unde corrupti facilis autem voluptatem eveniet, esse dolorem cumque
      deleniti id magni minima!
    </p>
