<div class="about-page">
  <h4>ABOUT</h4>
  <div class="subheading">Lorem</div>
  <section class="about-us">
    <h2 class="heading">About Us</h2>
    <h1 class="subheading">
      IECEP Taguig Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
      temporibus aperiam atque exercitationem rem necessitatibus sequi impedit!
      Quam illo eligendi debitis corporis, rem non error accusamus placeat
      sapiente recusandae inventore.
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt,
      voluptates, officiis laudantium perferendis quibusdam velit mollitia hic
      unde corrupti facilis autem voluptatem eveniet, esse dolorem cumque
      deleniti id magni minima!
    </p>

    <div class="image-container">
      <img class="/assets/image/Matthew-osborn.svg" />
    </div>
  </section>

  <div class="our-goal">
    <h2>Our Goal</h2>
    <h1>The IECEP-TUPTSC aims:</h1>
    <ul>
      a. To promote and uphold academic excellence among its members.
    </ul>
    <ul>
      b. To develop a sense of unity among the students from Straight
      Engineering Program (SEP) to Ladderize Engieering Program (LEP) or
      Bachelor of Science in Electronics Engineering (BSEcE) together with
      Bachelor of Technology in Engineering Technology (BET-ELEX) students.
    </ul>
    <ul>
      c. To instill a sense of responsibility among the Technology and
      Engineering students of Electronics in serving the whole academic
      community in general and the organization in particular.
    </ul>
    <ul>
      d. To disseminate vital technical information in order to develop a
      well-rounded professionals.
    </ul>
  </div>
</div>
