<div class="landing-page">
  <div class="container">
    <div class="logos">
      <img
        class="iecep-blue"
        src="/assets/image/IECEP-WHITE.svg"
        alt="iecep-blue"
      />
      <img
        class="iecep-blue"
        src="/assets/image/IECEP-RED-BLACK.svg"
        alt="iecep-red"
      />
    </div>
    <h1>
      Institute of Electronics Engineers of the Philippines Technological
      University of the Philippines Taguig Student Chapter
    </h1>
    <div class="subheading">
      Supported by the Electronics Law of Article 1 – Section 1, the Republic
      Act 9292
    </div>
    <div class="buttons">
      <button class="login">Log in</button
      ><button class="register">Register</button>
    </div>
  </div>
</div>
<section class="whats-new">
  <h2 class="heading">What's New</h2>
  <h1 class="subheading">Latest News & Events</h1>

  <div class="cards-container">
    <div class="card active">
      <div class="description">
        <h2>IECEP-TUPTSC General Assembly</h2>
        <p>
          The General Assembly is held in the first term of the school year
          given that there should be a new set of officers.
        </p>
      </div>
      <div class="bottom">
        <button>learn more</button>
      </div>
    </div>
    <div class="card">
      <div class="description">
        <h2>IECEP-TUPTSC WEEK</h2>
        <p>
          The IECEP-TUPTSC week depends on when the University Student
          Government to which will they held its activity week. It is a weeklong
          celebration of the Electronics Department that will uphold sets of
          seminars, quiz bowl and Skills Olympic which are academically inclined
          activities.
        </p>
      </div>
      <div class="bottom">
        <button>learn more</button>
      </div>
    </div>
    <div class="card">
      <div class="description">
        <h2>ECE Night</h2>
        <p>
          The ECE night is the end celebration for the Electronics Department.
          Since it is a tradition in the Department, members of IECEP-TUPTSC are
          obliged to cooperate and join the event.
        </p>
      </div>
      <div class="bottom">
        <button>learn more</button>
      </div>
    </div>
  </div>
</section>

<div class="about-us">
  <h2>ABOUT US</h2>
  <h1>Get to know IECEP - TUP Taguig</h1>
  <p>
    Institute of Electronics Engineers of the Philippines Technological
    University of the Philippines – Taguig Student Chapter was started in year
    2005 it is the first organization in our school wherein Raymund M. Lozada,
    PECE, Engr. Danilo Miranda and Glenn Ortiz, PECE are the first advisers of
    IECEP. The IECEP-TUPTSC are one of the accreditated organization in
    Tup-taguig providing information that can help students with relates to
    academic and non-academic. The organization aims to uphold academic
    excellence and build unity among its members.
  </p>
  <button class="cta">learn more</button>
</div>

<div class="membership">
  <h2 class="heading">MEMBERSHIP</h2>
  <h1 class="subheading">Why You Should Join</h1>

  <div class="cards-container">
    <div class="card">
      <img src="/assets/image/join.svg" alt="" />
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae
        perspiciatis eligendi, quod labore dolorum necessitatibus.
      </p>
    </div>
    <div class="card">
      <img src="/assets/image/join.svg" alt="" />
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae
        perspiciatis eligendi, quod labore dolorum necessitatibus.
      </p>
    </div>
    <div class="card">
      <img src="/assets/image/join.svg" alt="" />
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae
        perspiciatis eligendi, quod labore dolorum necessitatibus.
      </p>
    </div>
  </div>
</div>
